<div class="row">
  <div class="col-sm-12">
    <h2>Create Category</h2>
    <form>
      <div class="row">
        <div class="col-sm-2">
          <label for="">Category name<span style="color:red">*</span></label>
        </div>
        <div class="col-sm-10">
          <div class="form-group">
            <div class="row">
              <div class="col-sm-8">
                <div class="relative">
                  <input id="categoryName" name="categoryName" type="text" class="form-control" placeholder="Category name" [(ngModel)]="category.name"
                     #categoryName="ngModel" required maxlength="255">
                </div>
              </div>
              <div class="col-sm-4">
                <div id="categoryNameValidationAlert" *ngIf="!categoryName.valid && !categoryName.pristine" class="validationAlert alert alert-danger">
                  <span class="glyphicon glyphicon-alert"></span> Category name is required.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-2">
      </div>
      <div class="col-sm-10">
        <div class="form-group">
          <div class="row">
            <div class="col-sm-8">
              <button id="CategoryCreate" class="btn btn-success pull-right" type="submit" (click)="createCategory()">Create</button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>