<tabset>
  <tab heading="Category" (select)="select($event, 'category')">
      <app-category (desClick)="desClickHandle($event)"></app-category>
  </tab>
  <tab heading="Product" (select)="select($event, 'product')">
      <app-product (desClick)="desClickHandle($event)"></app-product>
  </tab>
</tabset>